/*
#contenedor{
    color: green;
    font-family: cursive;
    font-size: 1.2rem;
}
*/
body{
    margin: 0px;
}
#cabecera{
    width: 100vw;
    height: 200px;
    background-color: rgb(142, 188, 228);
    margin-bottom: 20px;
    animation: cambiarcolor 3s ease-in-out infinite;
}
img{
    width: 300px;
    height: 200 px;
}
#padre{
    width: 100vw;
    height: 100%;
}
#hijo1{
    width: 50%;
    height: 100%;
    float: left;
}
#hijo2{
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    

}
#titulo{
    margin: 0px;
    animation: mover 10s ease-in-out infinite;
}
@keyframes mover {
    0%{
        transform: translateY(0px);

    }
    17%{
        transform: translateY(50%) translateX(50%);

    }
    34%{
        transform: translateY(0%) translateX(100%);
    }
    50%{
        transform: translateY(100%) translateX(100%);
    }
    68%{
        transform: translateY(50%) translateX(50%);
    
    }
    84%{
        transform: translateY(100%) translateX(0%);
    }
    100%{
        transform: translateY(0%);
    }

}
@keyframes cambiarcolor {
    from{
        background-color: green;
    }
    to{
        background-color: aqua;
    }
}
header{
    position: absolute;
    background-color: rgb(20, 20, 20);
    width: 100%;
}
header nav{
    background-color: black;
    color: white;
    margin-bottom: 30px;

}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    text-decoration-line: none;
    color: white;
    padding: 16px;
}
header nav ul li a:hover{
    background-color: orange;
}
